<style>
    #msg {
        font-size: 15px;
        width: 80vw;
        height: auto;
        padding: 10px;
        text-align: center;
        border-radius: 15px;
        font-family: 'Noto Sans', sans-serif;
    }

    .msg-success {
        background-color: rgb(81, 179, 81);
        color: white;
    }

    .msg-info {
        background-color: rgb(202, 0, 0);
        color: white;
    }

    #msg-wrapper {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        justify-content: center;
        margin: 20px;
    }

    #msg button {
        border: 0;
        position: relative;
        right: 0;
        float: right;
        background-color: transparent;
        font-family: 'Noto Sans', sans-serif;
        font-weight: bold;
        color: white;
    }

</style>




{% if messages %}
    {% for message in messages %}
        <script>
            setTimeout(function() {
                var elem = document.getElementById("msg");
                try {
                    elem.parentNode.removeChild(elem);
                } catch (e) {
                }
            }, 2500);
        </script>
        <div id="msg-wrapper">
            <div class="msg-{{ message.tags }}" id="msg" role="alert" onclick="document.querySelector('#msg').parentNode.removeChild(document.querySelector('#msg'))">
                {{ message }} <button onclick="document.querySelector('#msg').parentNode.removeChild(document.querySelector('#msg'))">X</button>
            </div>
        </div>
    {% endfor %}
{% endif %}