{% extends 'base.html' %}

{% block title %}Home{% endblock %}

<h2>Wallet Page</h2>

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}! Here is your Wallet
  <form autocomplete=off action="/addWalletItem/" method = "post">{% csrf_token %}
    <input type="text" name="content">
    <input type="text" name="amount">
    <input type="submit" value="Add Wallet Item">
</form> 
<script>
  function searchFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('search');
    filter = input.value.toUpperCase();
    li = document.querySelectorAll("li#coin-name");
  
    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("a")[0];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].parentElement.parentElement.style.display = "";
      } else {
        li[i].parentElement.parentElement.style.display = "none";
      }
    }
  }
</script>
  <div class="search-wrapper">
    <form autocomplete="off">
      <input type="text" id="search" placeholder="Search Wallet" onkeyup="searchFunction()">
    </form>
  </div>
  <ul id="wallet-list">
    {% for i in all_items %} 
    <li>
      
      <ul>
        <li id="coin-name"><a href="#">{{i.content}}</a></li>
        <li id="coin-amount">Amount: {{i.amount}}</li>
        <li id="coin-delete">
          <form autocomplete="off" action="/deleteWalletItem/{{i.id}}/" method = "post">{% csrf_token %}
            <input id="delete-button" type="submit" value="Delete">
          </form> 
        </li>
      </ul> 
    </li>
    {% endfor %}
</ul> 
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% endif %}
{% endblock %}